.info-block {
  margin-bottom: 50px;
    &--9 {
      .info-block__text {
        display: flex;
        flex-direction: column;
        b {
          margin-bottom: 15px;
        }
      }
      .info-block__comment {
        margin: 0 auto;
      }
    }
}



.info-block__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.15;
}

.info-block__text {
  margin-bottom: 30px;
  & p {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: -0.5px;
      &:last-child {
        margin-bottom: 0;
      }
  } & span {
    color: $accent;
    font-weight: 700;
  }
}

.info-block__list {
  @include reset-list;
  margin-bottom: 60px;
}

.info-block__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      position: absolute;
      content: url('../img/icons/arrow1.svg');
      width: 24px;
      height: 31px;
      top: 0;
      left: 0;
      transform: translateY(-15%);
    }
}

.info-block__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  & div {
    width: 290px;
    height: 290px;
    padding: 90px 55px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid $accent;
      &:last-child {
        margin-bottom: 0;
      }
  }
  & p {
    margin: 0;
    padding: 0;
    width: 218px;
    font-size: 12px;
    text-align: center;
    line-height: 1.35;
  }

  .info-block__arrow {
    position: relative;
    margin-bottom: 70px;
    transform: rotate(90deg);
    width: 100px;
    height: 5px;
    align-self: center;
    background-color: $accent;
      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 30px;
        height: 5px;
        background-color: inherit;
      }
      &::before {
        top: -9px;
        right: -4px;
        transform: rotate(45deg);
      }
      &::after {
        top: 9px;
        right: -4px;
        transform: rotate(-45deg);
      }
  }
  
}

.info-block__image {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.info-block__bordering {
  padding-left: 20px;
  margin-bottom: 40px;
  border-left: 5px solid $accent;
    &:last-child {
      margin-bottom: 0;
    }
}

.info-block__bottom {
  padding: 10px 20px;
  border: 5px solid $accent;
    & p {
      margin: 0;
      padding: 0;
      font-size: 16px;
    }
    & span {
      color: $accent;
      font-weight: 700;
    }
    &--red {
      border-color: $accent-red;
        & span {
          color: $accent-red;
          
        }
    }
}

.info-block .info-block__bottom--red {
  border-color: $accent-red;
}

.info-block__comment {
  max-width: 670px;
  // margin: 0 auto;
  font-size: 14px;
  font-style: italic;
  line-height: 1.35;
}

@media(min-width: $tablet-width) {
  .info-block__bottom {
    padding: 45px 80px;
      & p {
        font-size: 18px;
      }
  }
  .info-block__content {
    flex-direction: row;
    align-items: center;
    margin-bottom: 65px;
    & div {
      width: 330px;
      height: 330px;
      margin-bottom: 0;
    }

  .info-block__arrow {
    margin-bottom: 0;
    transform: rotate(0deg);
    }
  }
}

@media(min-width: $desktop-width) {
  .info-block {
    margin-bottom: 100px;
      &--2,
      &--4,
      &--5 {
        .info-block__text {
          margin-bottom: 40px;
        }
      }
      &--3 {
        .info-block__text {
          & p {
            margin-bottom: 16px;
          }
        }
      }
      &--6 {
        .info-block__text {
          margin-bottom: 0;
            & p {
              margin-bottom: 16px;
            }
        }
        .info-block__list {
          margin-bottom: 16px;
        }
      }
  }

  .info-block__title {
    font-size: 38px;
  }

  .info-block__text {
    margin-bottom: 30px;
    & p {
        margin-bottom: 30px;
        font-size: 20px;
      }
  }

  .info-block__bottom {
    padding: 42px 80px;
    border: 10px solid $accent;
    }
}

